<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12 mt-5 mb-5">
        <img src={{image_url}} width="100%" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-sm-3 m-3 p-3 border rounded">
      <select class="form-select" aria-label="Default select example" name="assembliyList" #mySelect (change)='getDataOfDashData(mySelect.value)'>
        <option selected value="0">Select Assembly</option>
        <option *ngFor="let ass of assembliyList" [value]="ass.asem_id"> {{ass.asem_name}}</option>
      </select>
    </div>
    <div class="col-sm-3 col-sm-3 m-3 p-3 border rounded  text-center">
       <b>Total Voter </b>
        <div class="text-success"> {{totol_voter}} </div>
    </div>
  </div>

  <div class="row mt-3 mb-3  ">
    <div class="col-sm-3  col-sm-3 m-3 p-3 border text-center">
       <b> Total </b>
       <div class="text-success">1</div>
    </div>
    <div class="col-sm-3 col-sm-3 m-3 p-3 border rounded text-center">
      <b>Active </b>
      <div class="text-success">0</div>
    </div>
    <div class="col-sm-3 col-sm-3 m-3 p-3 border rounded  text-center">
      <b>
        DeActive 
       </b>
       <div class="text-success">3</div> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 m-3 p-3 border rounded" *ngFor="let user of user_info">
      <div class="title border-bottom pb-1 ">
        <b>{{user.name}}</b>
      </div>
      <div *ngFor="let option of user.data"  class="border-bottom pt-3 pb-1">
          {{option.NAME}} : {{option.COUNT}}
      </div>

    </div>
  </div>
</div> -->



<div class="container">
  <div class="row mt-5">
    <div class="col-sm-5 m-3 p-3 border rounded" *ngFor="let voter of voter_data">

      <div><b>{{voter.ID}}. {{voter.VNAME_EN}} ,{{voter.VRNAME_EN}}  ( {{voter.SEX}} , {{voter.AGE}} )</b></div>
      <div>  {{voter.ID}}- {{voter.PS_EN}}</div>
      <div class="row p-1">
        <div class="col-sm-6">
           <b> House NO:</b> {{voter.HOUSE_NO}}
        </div>
        <div class="col-sm-6 text-right">
           <b> Id Card: </b>{{voter.IDCARD_NO}}
        </div>
      </div>
      <div class="text-warning" *ngIf="voter.MOBILE_1">
        <b>Contact No: </b>{{voter.MOBILE_1}}
      </div>
      <div class="text-success" *ngIf="voter.VOTER_RELA">
        <b>Voter Relation: </b> {{voter.VOTER_RELA}}
      </div>
      <div class="text-danger" *ngIf="voter.PRO_SUGG">
       <b> Problem/Suggestion: </b> {{voter.PRO_SUGG}}
      </div>
      <button type="button" class="btn btn-primary float-right mt-3">See More</button>
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>